<h1> Edit an ice cream listing :) Intructions below!</h1>

<h2>Please enter the following information for your ice cream using the scale below:
Ice Cream Name:
Flavor: rate 0-50
Presentation: rate 0-10
Color/Appearance: rate 0-10
Aroma: rate 0-10
Texture: rate 0-20 </h2>

<% if @icecream.errors.any? %>
<h2>The following error(s) prevented the ice cream from being saved</h2>
    <ul>
    <% @icecream.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
<% end %>
</ul>
<% end %>

<%= form_with(model: @icecream, local: true) do |f| %>

<p>
  <%= f.label :ice_cream %> <br>
  <%= f.text_field :ice_cream %><br>
  <%= f.label :flavor %> <br>
  <%= f.text_field :flavor %><br>
  <%= f.label :presentation %> <br>
  <%= f.text_field :presentation %><br>
  <%= f.label :color_appearance %> <br>
  <%= f.text_field :color_appearance %><br>
  <%= f.label :aroma %> <br>
  <%= f.text_field :aroma %><br>
  <%= f.label :texture %> <br>
  <%= f.text_field :texture %><br>
</p>

<p>
<%=f.submit %>
</p>


<% end %>
