

<html>
<div id="page-content">
  <head>
      <div class="p-3 mb-2 bg-secondary text-white">
    <title>Ics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>

    <div class="container">
      <div class="card text-center" style="width: 45rem;">
        <img src="/images/todo4.png" class="card-img-top" alt="...">
        <div class="card-body">

          <a href="http://localhost:3000/icecreams/new" class="btn btn-danger">Share how you're doing!</a>
        </div>
      </div>
    </div>
<div class="container">


<table>
  <thead>
    <tr>
      <th>Name:</th>
      <th>Year graduated:</th>
      <th>Major:</th>
      <th>Favorite Memory</th>
      <th>current job</th>
      <th>life update</th>
    </tr>
  </thead>

  <tbody>

    </div>
    <div class="container">

    <% @icecreams.each do |icecream| %>
      <tr>
        <td><%= icecream.ice_cream %></td>
        <td><%= icecream.flavor %></td>
        <td><%= icecream.presentation %></td>
        <td><%= icecream.color_appearance %></td>
        <td><%= icecream.aroma %></td>
        <td><%= icecream.texture %></td>
      </tr>
    <% end %>
    </div>
    </div>
    </div>
  </tbody>
  </div>
</table>
