<div id="page-content">
  <div class="container">


<h1>How have you been? We would love to hear from you! </h1>



<% if @icecream.errors.any? %>
<h2>The following error(s) prevented the ice cream from being saved</h2>
    <ul>
    <% @icecream.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
<% end %>
</ul>
<% end %>

<%= form_with scope: :icecream, url: icecreams_path, local: true do |f| %>

<p>
  <%= f.label :"Name" %> <br>
  <%= f.text_field :ice_cream %><br>
  <%= f.label :"Year Graduated" %> <br>
  <%= f.text_field :flavor %><br>
  <%= f.label :"Major" %> <br>
  <%= f.text_field :"presentation" %><br>
  <%= f.label :"Favorite Memory" %> <br>
  <%= f.text_area :color_appearance %><br>
  <%= f.label :"Current Job" %> <br>
  <%= f.text_field :aroma %><br>
  <%= f.label :"Life Update" %> <br>
  <%= f.text_area :texture %><br>
</p>

<p>

<%=f.submit %>
</p>
</div>
</div>
<% end %>
