<h1>Ice Cream Details</h1>

<p><strong>Ice Cream: </strong><%=@icecream.ice_cream %></p>
<p><strong>Flavor - out of 50:</strong><%=@icecream.flavor%></p>
<p><strong>Presentation - out of 10:</strong><%=@icecream.presentation%></p>
<p><strong>Color and Appearance - out of 10:</strong><%=@icecream.color_appearance%></p>
<p><strong>Aroma - out of 10:</strong><%=@icecream.aroma%></p>
<p><strong>Texture - out of 20:</strong><%=@icecream.texture%></p>
