<!DOCTYPE html>
<html>
  <head>

    <title>Ics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">

      </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"  id="logo" href="#"></a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home",root_path, class: "nav-link"%>
      </li>
      <li class="nav-item active">
        <%= link_to "Classes",articles_path, class: "nav-link"%>
      </li>
      <li class="nav-item active">
          <%= link_to "Updates",icecreams_path, class: "nav-link"%>
      </li>
      <li class="nav-item acive">
        <a class="nav-link" href="http://localhost:3000/about" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>

        </div>


    </li>
    </ul>
    </div>
    </nav>
    <% flash.each do |name, msg| %>
    <%= msg %>
    <% end %>
    <%= yield %>



  </body>

</html>
