<!DOCTYPE html>
<html>
  <head>
    <title>Ics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"  id="logo" href="#"></a>
    <span class="navbar-toggler-icon"></span>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home",root_path, class: "nav-link"%>
      </li>
      <li class="nav-item active">
        <li class="nav-item active">
          <a class="nav-link" href="#">My Profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Friends <span class="sr-only">(current)</span></a>
        </li>
      <li class="nav-item active">
        <%= link_to "Blog",articles_path, class: "nav-link"%>
      </li>
      <li class="nav-item active">
          <%= link_to "Rankings",icecreams_path, class: "nav-link"%>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Our Mission</a>
          <a class="dropdown-item" href="#">Meet Our Team</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Become an Ice Cream Taster</a>
        </div>
    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
    </nav>
    <% flash.each do |name, msg| %>
    <%= msg %>
    <% end %>
    <%= yield %>
  </body>
</html>
